@page
@model SignalRChat.Pages.CountUser.Item
@{
    Layout = null;
}
<div id="app" class="container">
    <button type="button" @@click="close">del</button>
    <div class="row">
        <div class="col-6">
            User：<label id="User">{{id}}</label>
        </div>
        <div class="col-6">
            Count：<label id="Count">{{count}}</label>
        </div>
        <div class="col-6">
            <span id="timer"></span>
        </div>

    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/vue.js" asp-append-version="true"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    $(()=>{
        
    new Vue({
        el: '#app',
        data() {
            return {
                id:'@Model.id',
                count:@Model.Count,
                SignalHub:'',
            }
        },
        mounted(){
            var _self = this;
            this.SignalHub = new signalR.HubConnectionBuilder().withUrl("/UserCountHub").build();
            this.SignalHub.on("NewUser",(user,count)=>{
                _self.count = count;
            })
            this.SignalHub.start();
            this.SignalHub.onclose(async () => {
                alert('close!!');
                await this.SignalHub.start();
            });
        },
        methods:{
            close(){
                this.SignalHub.send('RemoveUser',this.id);
            }
        },
    });
     
    });
    
</script>


 
 <style>
		html, body {
			font-size: 9pt;
		}

		#dura {
			position: absolute;
			top: 2px;
			right: 2px;
			opacity: 0.5;
		}
	</style>