@page
@model SignalRChat.Pages.CountUser.Main
@{
    ViewData["Title"] = "Main";
}

<div id="app" v-cloak>
    <div class="op">
        <input type="text" id=msg />
        <button type="button" @@click="broadcast" :disabled="isDisabled">Broadcast</button>
        <button type="button" @@click="Add" :disabled="isDisabled">Add</button>
    </div>
    <div class="row">
        <div v-for="(item,idx) in list" class="col-4">
            <button type="button" @@click="close(idx,item)">del</button>
            <iframe :src=`Item?id=${item}`></iframe>
        </div>
    </div>
    <iframe id=call style="display:none"></iframe>
</div>
@section Scripts
{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>
        
    new Vue({
        el: '#app',
        data() {
            return {
                list:[],
                isDisabled:true,
                SignalHub:{}
            }
        },
        mounted(){
            var _self = this;
            this.SignalHub = new signalR.HubConnectionBuilder().withUrl("/UserCountHub").build();
            this.SignalHub.start().then(function () {
                _self.isDisabled = false;
            }).catch(function (err) {
                return console.error(err.toString());
            });
            this.SignalHub.on("NewUser",(user)=>{
                _self.list.push(user);
            })
        },
        methods:{
            Add(){
                this.SignalHub.invoke("NewUser");
            },
            broadcast(){
                @* document.getElementById('call').src = '/GenesisNewMes/Areas/Example/SSE_page.aspx?m=broadcast&t=' +
                    encodeURIComponent(document.getElementById('msg').value) + '&_=' + Math.random(); *@
            }, 
            close(idx,id){
                this.list.splice(idx, 1);
                this.SignalHub.invoke('RemoveUser',id);
            }
        },
    });
</script>
}    

<style>
    iframe {
        display: inline-block;
        width: 300px;
        height: 80px;
        margin: 3px;
        border: 1px solid blue;
    }

    div.op {
        padding: 6px;
    }
</style>